@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Tomorrow";
  src: url("../../fonts/Tomorrow-Bold.ttf");
}

:root {
  --font-lg: "Tomorrow";
  --font-sm: "Roboto";
}
