@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Tomorrow";
  src: url("../../fonts/Tomorrow-Bold.ttf");
}

:root {
  --font-lg: "Tomorrow";
  --font-sm: "Roboto";
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
